{% extends 'base.html' %}{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="home-container">

	<div class="row">
		<aside class="col-lg-4 col-md-5 weather-block">
			<!-- Widget météo ici -->
		</aside>

		<section class="col-lg-8 col-md-7 simulator-block">
			{% include 'home/simulator.html' %}
		</section>
	</div>

</div>
{% endblock content %}




{% block scripts %}
<script type="text/javascript" charset="utf-8" src="https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js"></script>
<script type="text/javascript" src="{% static 'js/Custom/skyAtlas.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/Custom/weather.js' %}"></script> -->
{% endblock scripts %}