{% extends 'base.html' %}{% load static %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container-fluid home-container">

	<!-- Weather block -->
	<aside class="weather-block"></aside>

	<!-- Sky Map section -->
	<section class="simulator-block container">
		{% include 'home/simulator.html' %}
	</section>

</div>
{% endblock content %}


{% block scripts %}
<script type="text/javascript" charset="utf-8" src="https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js"></script>
<script type="text/javascript" src="{% static 'js/Custom/skyAtlas.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/Custom/weather.js' %}"></script> -->
{% endblock scripts %}