{% load static %}{% url 'accueil' as home_url %}

<nav class="navbar navbar-expand-lg bg-secondary d-flex justify-content-between align-items-center">

	<div class="container-fluid">

		<!-- Logo and site name -->
		<a class="navbar-brand text-white" href="{% url 'accueil' %}">
			<img src="{% static 'img/logo.svg' %}" class="logo" alt="logo du site stellar finder">
			<span>Stellar Finder</span>
		</a>

		<!-- Responsive icon -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<img src="{% static 'img/responsive-menu.svg' %}" class="icon-responsive-menu" alt="icone menu">
		</button>

		<!-- Navbar content -->
		<div class="collapse justify-content-between navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 justify-content-between">
				<li class="nav-item">
					<a class="nav-link text-white" href="{% url 'accueil' %}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{% url 'compte-demo' %}">Compte démo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{% url 'connexion' %}">Connexion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{% url 'inscription' %}">Inscription</a>
				</li>

				<!-- Button to trigger weather only on home page
				{% if request.path == home_url %}
				<li class="nav-item d-lg-none">
					<a class="nav-link text-white" href="">
						<img src="{% static 'img/weather_icons/burger_white.png' %}" alt="icone pour le widget météo" class="weather-btn-img">
						Météo
					</a>
				</li>
				{% endif %} -->
			</ul>
		</div>
	</div>

</nav>