option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: stellarfinder.settings.demo_production
  aws:elasticbeanstalk:container:python:
    WSGIPath: stellarfinder.wsgi:application

commands:
  collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"