{% extends 'base.html' %}{% load static %}

{% block title %}Compte démo{% endblock %}

{% block content %}
<div class="container">
  <section class="account-section row bg-secondary py-4">

    <div class="col-12 col-md-8 mx-auto">

      <div class="profile-header text-center d-flex align-items-center justify-content-center">
        <img src="{% static 'img/user.svg' %}" class="img-fluid rounded-circle" alt="icone de profil pour utilisateur" />
        <h1>Bienvenue sur le compte de démo</h1>
      </div>

      <div class="goto-button d-flex justify-content-center mt-4">
        <a href="{% url 'accueil' %}" class="btn btn-primary d-flex align-items-center">
          <img src="{% static 'img/rocket.svg' %}" alt="icone pour voir simulateur" class="mr-2" />
          Voir le simulateur
        </a>
      </div>

      {% include 'equipment/demo_materiel.html' %}

    </div>
  </section>
</div>
{% endblock content %}