// Globals customs rules
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

main {
    flex: 1; // Permet au contenu de grandir et pousser le footer vers le bas
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 0;
    width: 100%;
}

nav {
    border-bottom: 1px solid white;


    .navbar-brand {
        margin-left: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-primary;

        .logo {
            width: 2.5em;
            margin-right: 0.6em;
        }

        span {
            font-size: 1.2em;
            font-weight: 300;
            font-style: normal;
        }
    }

    ul li {
        font-family: $font-primary;
        font-weight: 300;
        font-style: normal;
    }
}

footer {
    font-family: "Poppins", sans-serif;

    .footer-text p {
        margin: 0 auto;
    }

}